<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dine In</title>
    <style>

        @import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
        /* Source: Florin Pop https://codepen.io/FlorinPop17/pen/vPKWjd */

        .navigation_bar {
            background-color: #ffffff;
            margin: -8px -8px 0px -8px;
            display: flex;
            flex-direction: row;
            /* align-content: center; */
            align-items: center;
        }
        .navigation_links a {
            padding-left: 20em;
            color: #26ab7b;
            text-decoration: none;
            font-family: "Montserrat", sans-serif;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 1px;
        }
    </style>
</head>
<body>
    <div class="navigation_bar">
        <a class="logo_img" href="/index.ejs"><img src="/images/dineInLogo.png" alt="Dine In Logo" width="100px" height="100px"></a>
        
        <div class="navigation_links">
            <a class="Recipe_Link" href="#"> Recipes </a>
            <a class="Information_Link" href="/info.ejs"> Information </a>
            <a class="Blog_Link" href="#"> Blog </a>
        </div>
    </div>
</body>
</html>