<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dine In</title>
    <style>
        .navigation_bar {
            text-align: center;
            
        }
        .Recipe_Link {
            padding-right: 20em;
        }
        .Blog_Link {
            padding-left: 20em;
        }
    </style>
</head>
<body>
    <div class="navigation_bar">
        <a href="/index.ejs"><img src="/images/dineInLogo.png" alt="Dine In Logo" width="100px" height="100px"></a>
        <hr>
            <a class="Recipe_Link" href="#"> Recipes </a>
            <a class="Information_Link" href="/info.ejs"> Information </a>
            <a class="Blog_Link" href="#"> Blog </a>
        <hr/>
    </div>
</body>
</html>