<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dine In</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include('../partials/nav_bar.ejs') %>
    <section class="top">
        <div class="logoImg">
            <img src="/images/dineInLogo.png" alt="Dine In Logo">
        </div>
        <div class="infoPara">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo atque nesciunt, consequatur vitae possimus quis at, nemo modi earum repellat doloribus eos, ipsa assumenda hic aut. Unde totam culpa quos, aperiam neque doloremque architecto nulla odit provident harum dolorum illo commodi maxime quo, accusantium et temporibus recusandae qui voluptatem eius!</p>
        </div>
    </section>
    <form class="loginArea">
        <label for="email">Email:</label>
        <input type="email" name='email' id='email' required>

        <label for="password">Password:</label>
        <input type="password" name='password' id='password' required>

        <input type="button" value="Log In">
        <a href="/signup.ejs">Create an account?</a>
    
    </div>

</body>
</html>