<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dine In</title>
</head>
<body>
    <div>
        <%- include('../partials/nav_bar.ejs') %>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt animi voluptatem deleniti, cupiditate obcaecati illo, molestiae beatae ex repellendus voluptate hic non? Libero accusantium excepturi maxime tempora minus ipsa ipsam quos laboriosam adipisci, sunt esse praesentium accusamus incidunt hic id nulla. Odit quisquam maxime ipsum repellat dicta consequuntur similique soluta.</p>
    </div>
</body>
</html>